body{
    background-color: whitesmoke;
    /* background-image: url('https://cdn.pixabay.com/photo/2024/05/17/14/50/ai-generated-8768468_1280.png');
    background-repeat: no-repeat;
    background-position: 1250px 440px;
    background-size: contain;
    height: 300px; */
}
#layout{
    margin: 10px 0px;
    height: 75vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
}
h2{
    color: #176179;
}
#navbar{
    margin-top: 10px;
    border-radius: 8px;
    padding: 15px 0px;
}
#navbar  a{
    font-weight: 500;
    color: #176179;
}

#form{
    margin: 30px auto;
    width: 350px;
    padding: 15px 10px;
    border: none;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}
#form #btns{
    width: 100%;
    padding: 9px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #176179;
    color: white;
    border: none;
    width: 90%;
    margin: auto;
    border-radius: 7px;
    margin-left: 15px;
}

#form input{
    padding: 8px 15px;
    border: none;
    box-shadow: 0px 0px 1px;
    border-radius: 0px;
    text-transform: capitalize;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
#form input::placeholder{
    color: #505060af;
}

#editform{
    margin: 30px auto;
    width: 350px;
    padding: 10px 10px;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}
#editform input{
    width: 90%;
    margin: auto;
    border: none;
    box-shadow: 0px 0px 1px;
}
#editform #btns{
    width: 100%;
    padding: 9px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #176179;
    color: white;
    border: none;
    width: 90%;
    margin: auto;
    border-radius: 7px;
}
#table th{
    background-color: skyblue;
    font-size:.9rem;
}
#table td{
    background-color: white;
    color:black;
    font-size: .9rem;
    text-align: center;
    border: 1px solid white;
}
#search{
    padding: 6px;
    border: 1px solid skyblue;
}
#search-btn{
    padding: 6px 15px;
    background-color: skyblue;
    border: 1px solid skyblue;
    font-weight: 400;
}
#btn{
    padding: 0px;
    background-color: transparent;
    border: none;
}
#btn img{
    filter: drop-shadow(0px 0px 2px skyblue);
}

#jump-btn1{
    position: fixed;
    top: 48%;
    left: 3%;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #176179;
}
#jump-btn2{
    position: fixed;
    top: 48%;
    right: 3%;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #176179;
}
#jump-btn1:hover{
    text-shadow: 0px 0px 15px gainsboro;
    color: black;
}
#jump-btn2:hover{
    text-shadow: 0px 0px 15px gainsboro;
    color: black;
}
@media (max-width:769px)
{
    #table td{
        font-size: 12px;
    }
    #table th{
        font-size: 14px;
    }
    #table td img{
        height: 15px;
        width: 15px;
    }
}
@media (max-width:430px)
{
    #table td{
        font-size: 8px;
    }
    #table th{
        font-size: 10px;
    }
    #table td img{
        height: 12px;
        width: 12px;
    }
}
@media (max-width:376px)
{
    #table td{
        font-size: 6px;
    }
    #table th{
        font-size: 8px;
    }
    #table td img{
        height: 10px;
        width: 10px;
    }
}
@media (max-width:321px)
{
    #table td{
        font-size: 6px;
    }
    #table th{
        font-size: 6px;
    }
    #table td img{
        height: 8px;
        width: 8px;
    }
    #edit input{
        width: 200px;
    }
}
#navbar{
    display: none;
}
#layout{
    display: none;
}
#footer{
    display: none;
}
#searchbyname{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    color: deepskyblue;
}
#searchbyname:hover{
    text-decoration: underline;
}